---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface Props {
  blok: {
    body: any[]
    component: string
  }
}

const { blok } = Astro.props
---

<main {...storyblokEditable(blok)}>
  {blok.body?.map((nestedBlok) => (
    <StoryblokComponent blok={nestedBlok} />
  ))}
</main>